body {
	margin:0;
	padding:0;
	background:#ff;
}

.panorama {
    position:center;
    padding-bottom:65.11627%;
    height:0;
    overflow:hidden;
	
}

.panorama iframe {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
	float:center;
}